.caruselWrapper{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  padding-top: 100px;
}

.imgWrapper{
  max-width: 1080px;
  max-height: 500px;
  display: flex;
  margin: 0 auto;
  position: relative;
  
}

.img{
  margin: 0 auto;
  max-width: inherit;
  max-height: inherit;
}

.prevBtn, .nextBtn{
  display: inline-block;
  border-radius: 20px;
  border: 0px;
  height: 40px;
  background-color: rgb(160, 244, 255);
  margin-top: 240px;
  position: relative;
}
.prevBtn{
  left: 60px;
}


.nextBtn{
  right: 60px;
}

.header{
  padding-top: 10px;
  text-align: center;
  max-width: 950px;
  margin: 0 auto;
}

.description{
  text-align: center;
  max-width: 950px;
  padding: 25px 10px 25px 10px;
  margin: 0 auto;
}

