.button{
  background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.header{
  display: inline-block;
  color: #4CAF50;
  width: 400px;
  text-align: center;
}

.input{
  width: 300px;
  height: 30px;
  border-radius: 5px;
}

.formWrapper{
  width: 400px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}